<div id="individual-post">
	<h3 id="project-title">{{title}}</h3>

	<div id="project-contents">
		<p id="project-description">{{description}}</p>
		<div id="goto-buttons">
			<a id="goto-code" href="/portfolio/{{@key}}/code">Code</a>
			<a id="goto-demo" href="/portfolio/{{@key}}/demo">Demo</a>
		</div>
	</div>
</div>