<div id="individual-post">
	<h3 id="project-title">{{title}}</h3>

	<div id="project-contents">
		<p id="project-description">{{description}}</p>
		<h6 id="goto-code"><a href="./#/code">Code</a></h6>
		<h6 id="goto-demo"><a href="./#/demo">Demo</a></h6>
	</div>
</div>