<main class="content" id="password-prompt">

	<div>
		<label for="pw-prompt" id="pw-label">Password:</label>
		<input name="pw-prompt" type="text" id="pw-prompt">
		<button type="button" id="pw-submit"><i class="fas fa-chevron-right"></i></button>
	</div>

</main>