<main class="content" id="project-page-demo">

	<h3 id="project-demo-title">{{title}} Demo</h3>

	<div id="demo-display">
		<object data="{{executable}}" type="text/javascript" width="500" height="300">
			<video width="500" height="300" controls>
				<source src="{{video}}" type="video/mp4">
				Unavailable.
			</video>
		</object>
	</div>

</main>